pipeline/ppl_sup02.json
{
	"name": "ppl_sup02",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select cnpj from [sup01].[filiais]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Azure_sup01_filiais",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "dfsup02",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dfsup02",
									"type": "DataFlowReference",
									"parameters": {
										"pdatai": {
											"value": "'@{formatDateTime(subtractFromTime(utcNow(),60,'Day'),'yyyy-MM-dd')}'",
											"type": "Expression"
										},
										"pdataf": {
											"value": "'@{formatDateTime(subtractFromTime(utcNow(),1,'Day'),'yyyy-MM-dd')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"srcsup02": {
											"cnpj": {
												"value": "@item().cnpj",
												"type": "Expression"
											}
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "integrationRuntime1",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"variables": {
			"cnpj": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-02-03T19:39:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}