pipeline/ppl_ud_incremental_load.json
{
	"name": "ppl_ud_incremental_load",
	"properties": {
		"activities": [
			{
				"name": "Get last modified Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select [LastLoadDate] as LastLoadDate\nfrom tblControl",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_ud_dbdemosw01_table_control",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get max modified date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select max([Last_m]) as Last_m\nfrom tbluser",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_ud_dbdemosw01_tbluser",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get last modified Date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get max modified date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from tbluser\nwhere Last_m <=\n'@{activity('Get max modified date').output.firstRow.Last_m}'\nand Last_m >\n'@{activity('Get last modified Date').output.firstRow.LastLoadDate}'\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_ud_dbdemosw01_tbluser",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ud_dbdemosw02",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "update control table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SPUpdateLoadInfo]",
					"storedProcedureParameters": {
						"ModifiedDate": {
							"value": {
								"value": "@{activity('Get max modified date').output.firstRow.Last_m}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": "tbluser",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_ud_dbdemosw01",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Udemy"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-09T12:57:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}