pipeline/ppl_shopprecos_drjoe.json
{
	"name": "ppl_shopprecos_drjoe",
	"properties": {
		"activities": [
			{
				"name": "1_get_auth_token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://accounts.zoho.com/oauth/v2/token?refresh_token=1000.1b14c960f7218a4e5cd5e8a12d4bfd75.b8610a30d6281b724b01b0611053c476&client_id=1000.6FDGAEOMQ15CT978CCOU1V0GK3BLNG&client_secret=3a78e3f381e490262e5e685486880277a4d7540fac&grant_type=refresh_token",
					"method": "POST",
					"body": {
						"access_token": "1000.6FDGAEOMQ15CT978CCOU1V0GK3BLNG",
						"api_domain": "https://www.zohoapis.com",
						"token_type": "Bearer",
						"expires_in": 3600
					}
				}
			},
			{
				"name": "3_create_export_jobid",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "2_auth_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://analyticsapi.zoho.com/restapi/v2/bulk/workspaces/1006245000000010001/views/1006245000009380551/data",
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@concat('Zoho-oauthtoken ', variables('access_token'))",
							"type": "Expression"
						},
						"responseFormat": "json",
						"ZANALYTICS-ORGID": "67471564",
						"criteria": "\\\"SHP - Integração BI\\\".\\\"Data Coleta\\\"='02-03-2023'"
					},
					"body": {
						"access_token": "1000.6FDGAEOMQ15CT978CCOU1V0GK3BLNG",
						"api_domain": "https://www.zohoapis.com",
						"token_type": "Bearer",
						"expires_in": 3600
					}
				}
			},
			{
				"name": "2_auth_token",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "1_get_auth_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "access_token",
					"value": {
						"value": "@activity('1_get_auth_token').output.access_token",
						"type": "Expression"
					}
				}
			},
			{
				"name": "4_jobID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "3_create_export_jobid",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "jobID",
					"value": {
						"value": "@activity('3_create_export_jobid').output.data.jobId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "5_create_download_url",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "4_jobID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://analyticsapi.zoho.com/restapi/v2/bulk/workspaces/1006245000000010001/exportjobs/', variables('jobID'))",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@concat('Zoho-oauthtoken ', variables('access_token'))",
							"type": "Expression"
						},
						"responseFormat": "json",
						"ZANALYTICS-ORGID": "67471564",
						"criteria": "\\\"SHP - Integração BI\\\".\\\"Data Coleta\\\"='02-03-2023'"
					},
					"body": {
						"access_token": "1000.6FDGAEOMQ15CT978CCOU1V0GK3BLNG",
						"api_domain": "https://www.zohoapis.com",
						"token_type": "Bearer",
						"expires_in": 3600
					}
				}
			},
			{
				"name": "6_download_files",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://analyticsapi.zoho.com/restapi/v2/bulk/workspaces/1006245000000010001/exportjobs/', variables('jobID'), '/data')",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@concat('Zoho-oauthtoken ', variables('access_token'), '/data')",
							"type": "Expression"
						},
						"responseFormat": "json",
						"ZANALYTICS-ORGID": "67471564",
						"criteria": "\\\"SHP - Integração BI\\\".\\\"Data Coleta\\\"='02-03-2023'"
					},
					"body": {
						"access_token": "1000.6FDGAEOMQ15CT978CCOU1V0GK3BLNG",
						"api_domain": "https://www.zohoapis.com",
						"token_type": "Bearer",
						"expires_in": 3600
					},
					"datasets": [
						{
							"referenceName": "ds_drjoe01",
							"type": "DatasetReference"
						}
					]
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "5_create_download_url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 120
				}
			}
		],
		"variables": {
			"access_token": {
				"type": "String"
			},
			"jobID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Dev_Zilliant_Competitors"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-09T11:58:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}