pipeline/ppl_ud_get_metadata.json
{
	"name": "ppl_ud_get_metadata",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_ud_raw",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"itemType",
						"lastModified",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Folder').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata File",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_ud_files",
									"type": "DatasetReference",
									"parameters": {
										"pFilename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"size",
									"lastModified",
									"structure",
									"itemType"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition File Size",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Get Metadata File').output.size,200)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Delete file",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "ds_ud_files",
												"type": "DatasetReference",
												"parameters": {
													"pFilename": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Wait true",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 2
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Udemy"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-02T19:41:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}